@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --scissors: linear-gradient(hsl(39, 89%, 49%) to hsl(40, 84%, 53%));
  --paper: linear-gradient(hsl(230, 89%, 62%) to hsl(230, 89%, 65%));
  --rock: linear-gradient(hsl(349, 71%, 52%) to hsl(349, 70%, 56%));
  --backgroundcolor: radial-gradient(
    at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  --darkText: hsl(229, 25%, 31%);
  --scoreText: hsl(229, 64%, 46%);
  --headerOutline: hsl(217, 16%, 45%);
  --main-color: #fff;
}

body {
  background: var(--backgroundcolor);
  color: var(--main-color);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  min-width: 100vw;
  min-height: 100vh;
}

header {
  border: solid 2px var(--headerOutline);
  border-radius: 12px;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 span {
  display: block;
}

.score {
  background: var(--main-color);
}

.score span {
  color: var(--scoreText);
}
.points {
  color: var(--darkText);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(0, 89%, 50%);
}
